<h2><%= context_title @blog.title %></h2>
<% edit_context_action @blog %>
<% destroy_context_action @blog, :title %>

<% bl = present(@blog) %>

<div class="ui grid">
  <div class="sixteen wide mobile eleven wide tablet eleven wide computer column">
    <div class="ui fluid image"><%= image_tag @blog.header_image_url(:header) %></div>

    <p>
      <%= bl.formatted_teaser %>
    </p>

    <%= bl.formatted_text %>

    <%= present(@blog.author).avatar %>

    <%= render 'comments/comments', commentable: @blog, comment: @blog.comments.build %>

  </div>
  <div class="computer tablet only five wide column">
    <%= render 'sidebar' %>
  </div>
</div>







