<h2><%= context_title @blog.title %></h2>
<% context_action t('.edit'), edit_blog_path(@blog), :write %>
<% context_action t('.delete'), '#', :remove %>
<%= delete_modal(@blog, :title) %>

<% bl = present(@blog) %>

<p>
  <%= bl.formatted_teaser %>
</p>

<%= bl.formatted_text %>

<%= present(@blog.author).avatar %>

<%= render 'comments/comments', commentable: @blog, comment: @blog.comments.build %>
