<%= form_for(recipe, html: { class: 'ui form' }, multipart: true ) do |f| %>
  <% recipe_presenter = present(recipe) %>
  <% recipe_presenter.validation_errors(recipe) %>

  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :tag_list, t('.tags') %>
    <%= recipe_presenter.tags_selection(f) %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: Setting.text_rows, :placeholder => t('.description_description') %>
  </div>

  <div class="fields">
    <div class="four wide field">
      <%= f.label :preparation_time %>
      <div class="ui right labeled input">
        <%= f.number_field :preparation_time %>
        <div class="ui basic label">min</div>
      </div>
    </div>
    <div class="four wide field">
      <%= f.label :cooking_time %>
      <div class="ui right labeled input">
        <%= f.number_field :cooking_time %>
        <div class="ui basic label">min</div>
      </div>
    </div>
    <div class="four wide field">
      <%= f.label :difficulty %>
      <%= recipe_presenter.difficulty_dropdown(f) %>
    </div>
    <div class="four wide field">
      <%= f.label :portions %>
      <%= f.number_field :portions %>
    </div>
  </div>

  <h3><%= t('.ingredients') %></h3>
  <%= f.fields_for :recipe_ingredients do |ri| %>
    <% render 'recipe_ingredient', f: ri %>
  <% end %>

  <div class="field">
    <%= link_to_add_fields t('.add_ingredient'), f, :recipe_ingredients %>
  </div>

  <h3><%= t('.preparation_steps') %></h3>
  <%= f.fields_for :preparation_steps do |ps| %>
    <% render 'preparation_step', f: ps%>
  <% end %>

  <div class="field">
    <%= link_to_add_fields t('.add_preparation_step'), f, :preparation_steps %>
  </div>

  <h3><%= t('.images') %></h3>
  <%= f.fields_for :images do |i| %>
    <% render 'image', f: i %>
  <% end %>

  <div class="field">
    <%= link_to_add_fields t('.add_image'), f, :images %>
  </div>

  <div class="actions">
    <%= f.submit class: 'ui primary button' %>
    <%= link_to t(:cancel, scope: :application), recipe, class: 'ui secondary button' %>
  </div>
<% end %>
