<div class="remove_fields_container">
  <div class="fields">
    <div class="four wide field">
      <%= f.label :amount %>
      <%= f.number_field :amount, step: :any %>
    </div>
    <div class="four wide field">
      <%= f.label :unit %>
      <div class="ui selection dropdown">
        <%= f.hidden_field :unit_id %>
        <i class="dropdown icon"></i>
        <div class="default text"><%= t '.select_unit' %></div>
        <div class="menu">
          <% Unit.all.order(:name).each do |unit| %>
            <div class="item" data-value="<%= unit.id %>"><%= unit.name %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="five wide field">
      <%= f.label :ingredient %>
      <div class="ingredient_selection ui search selection dropdown">
        <%= f.hidden_field :ingredient_id %>
        <i class="dropdown icon"></i>
        <input type="text" class="search">
        <div class="default text"><%= t '.select_ingredient' %></div>
        <% if f.object.id %>
          <div class="menu">
            <div class="item" data-value="<%= f.object.ingredient.id %>"><%= f.object.ingredient.name %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="three wide field">
      <%= f.label t '.action' %>
      <%= f.hidden_field :_destroy %>
      <%= link_to '#', class: 'ui right labeled icon red remove_fields button' do %>
        <% icon('remove') + t('.remove') %>
      <% end %>
    </div>
  </div>
</div>
