<% if @recipe.images.any? %>
  <%= image_tag @recipe.images.first.file.slide.path %>
<% end %>

<h2><%= @recipe.name %></h2>

<% recipe_presenter = present(@recipe) %>

<em><%= recipe_presenter.formatted_description %></em>

<h4 class="ui horizontal divider header">
  <%= t('.recipe_instructions') %>
</h4>

<div class="ui grid">
  <div class="five wide column">
    <%= recipe_presenter.show_ingredients @portions %>
  </div>
  <div class="ten wide column">
    <%= recipe_presenter.show_preparation_steps %>

      <% @recipe.hints.each do |hint| %>
        <div>
          <strong><%= t '.tip' %>:</strong><%= hint.text %>
        </div>
      <% end %>
  </div>
</div>

<hr />

<table class="">
  <tbody>
    <tr>
      <td>
        <%= t('.calories') %>
      </td>
      <td>
        <%= format_calorific_value(@recipe.calorific_value) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('.portions') %>
      </td>
      <td>
        <%= @recipe.portions %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('.preparation') %>
      </td>
      <td>
        <%= @recipe.preparation_time %><%= t('.minutes_unit') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('.cooking') %>
      </td>
      <td>
        <%= @recipe.cooking_time %><%= t('.minutes_unit') %>
      </td>
    </tr>
  </tbody>
</table>
