<h2><%= context_title @recipe.name %></h2>
<% edit_context_action @recipe %>
<% destroy_context_action @recipe, :name %>

<% recipe_presenter = present(@recipe) %>

<div class="ui stackable divided grid">
  <div class="row">
    <div class="eight wide column">
      <% if @recipe.images.any? %>
        <%= render 'slider' %>
      <% else %>
        <%= recipe_presenter.formatted_description %>
      <% end %>
    </div>
    <div class="eight wide column">
      <% if @recipe.images.any? %>
        <%= recipe_presenter.formatted_description %>
      <% end %>
      <%= render 'right_side', recipe_presenter: recipe_presenter %>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="doubling four columns row">
    <div class="column">
      <%= recipe_presenter.difficulty_tag  %>
    </div>
    <div class="column">
      <a class="basic ui teal label">
        <i class="doctor icon"></i>
        <%= t('.calories') %>
        <div class="detail">
          <%= format_calorific_value(@recipe.calorific_value) %>
        </div>
      </a>
    </div>
    <div class="column">
      <a class="ui basic teal label">
        <i class="wait icon"></i>
        <%= t('.preparation') %>
        <div class="detail">
          <%= @recipe.preparation_time %><%= t('.minutes_unit') %>
        </div>
      </a>
    </div>
    <div class="column">
      <a class="ui basic teal label">
        <i class="wait icon"></i>
        <%= t('.cooking') %>
        <div class="detail">
          <%= @recipe.cooking_time %><%= t('.minutes_unit') %>
        </div>
      </a>
    </div>
  </div>
</div>

<h4 class="ui horizontal divider header">
  <i class="food icon"></i>
  <%= t('.recipe_instructions') %>
</h4>

<div class="ui stackable divided grid">
  <div class="row">
    <div class="five wide column">
      <%= recipe_presenter.show_ingredients(@portions) %>
    </div>
    <div class="eleven wide column">
      <%= recipe_presenter.show_preparation_steps %>
    </div>
  </div>
</div>


