<%= form_for(user, :html => { class: 'ui form', multipart: true }) do |f| %>
    <%= render 'validation_message', validation_object: user %>
    <% user_presenter = present(user) %>

    <div class="field">
      <%= f.label :email %>
      <div class="ui disabled input">
        <%= f.text_field :email%>
      </div>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => t('.name_description') %>
    </div>

    <% if current_user.admin? %>
      <div class="field">
        <%= f.label :role %>
        <div class="ui selection dropdown">
          <%= f.hidden_field :role %>
          <i class="dropdown icon"></i>
          <div class="default text"><%= t '.select_role' %></div>
          <div class="menu">
            <% User.roles.each do |key, value| %>
              <div class="item" data-value="<%= value %>"><%= key.humanize %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
	
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, rows: Setting.text_rows, :placeholder => t('.description_description') %>
    </div>

    <div class="field">
      <%= f.label :color %>
      <%= user_presenter.color_dropdown(f) %>
    </div>

    <div class="field">
      <%= f.label :avatar %>
      <div>
        <%= f.label :avatar, class: "ui teal icon button" do %>
          <%= icon('upload') + t('.select_image') %>
        <% end %>
        <%= f.file_field :avatar, style: 'display:none' %>
      </div>
    </div>

    <div class="actions">
      <%= f.button class: 'ui primary button' %>
      <%= link_to t(:cancel, scope: :application), user, class: 'ui secondary button' %>
    </div>
<% end %>
