<h2><%= context_title t('.ingredients') %></h2>
<% context_action(t('.new_ingredient'), new_ingredient_path, :plus) if policy(:ingredient).new? %>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient.name, ingredient %></td>
        <td><%= ingredient.description %></td>
        <td>
          <% if policy(ingredient).edit? %>
            <%= link_to icon(:write), edit_ingredient_path(ingredient) %>
          <% end %>
          <% if policy(ingredient).destroy? %>
            <%= link_to icon(:remove), ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
   <tfoot class="full-width">
    <tr>
      <th colspan="5">
        <% if policy(:ingredient).new? %>
          <%= link_to new_ingredient_path, class: 'ui right floated primary labeled icon button' do %>
            <i class="plus icon"></i> <%= t('.new_ingredient') %>
          <% end %>
        <% end %>
      </th>
    </tr>
  </tfoot>
</table>

<%= paginate @ingredients %>
