<div class="ui small basic modal" id="<%= delete_modal_anchor(object, false) %>">
  <div class="ui icon header">
    <i class="trash icon"></i>
    <%= t '.delete' %>
  </div>
  <div class="content">
    <p style='text-align: center;'><%= t '.are_you_sure_to_delete' %></p>
    <p style='text-align: center;'><%= object.send(field) %></p>
  </div>
  <div class="actions">
    <div class="ui cancel negative button">
      <i class="remove icon"></i>
      <%= t 'no', scope: :application %>
    </div>
    <%= form_for(:user_session, :url => [object], :html => { method: :delete, style: 'display:inline' }) do %>
      <%= button_tag class: 'ui ok positive button' do %> 
        <i class="checkmark icon"></i>
        <%= t 'yes', scope: :application %>  
      <% end %>
    <% end %>
  </div>
</div>
