<div class="ui small basic modal" id="logout_modal">
  <div class="ui icon header">
      <i class="<%= icon %> icon"></i>
    <%= title %>
  </div>
  <div class="content">
    <p><%= question %></p>
  </div>
  <div class="actions">
    <div class="ui cancel red basic inverted button">
      <i class="remove icon"></i>
      <%= t :no, scope: :application %>
    </div>
    <div class="ui ok green basic inverted button">
      <i class="checkmark icon"></i>
      <%= t :yes, scope: :application %>
    </div>
  </div>
</div>
