<div class="ui small basic modal" id="sign_out_modal">
  <div class="ui icon header">
    <i class="sign out icon"></i>
    <%= t '.sign_out' %>
  </div>
  <div class="content">
    <p style='text-align: center;'><%= t '.are_you_sure_to_sign_out' %></p>
  </div>
  <div class="actions">
    <div class="ui cancel negative button">
      <i class="remove icon"></i>
      <%= t 'no' %>
    </div>
    <%= form_for(:user_session, :url => destroy_user_session_path, :html => { method: :delete, style: 'display:inline' }) do %>
      <%= button_tag class: 'ui ok positive button' do %> 
        <i class="checkmark icon"></i>
        <%= t 'yes' %>  
      <% end %>
    <% end %>
  </div>
</div>
